<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid">
    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Profile</b>
      </a>
    </p>
    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a class="navbar-link"
         (click)="updateProfile()">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
  </div>
</nav>


<div class="container container-fluid">
  <form>
    <div class="form-group">
      <label>Username</label>
      <input [(ngModel)]="user.username"
             name="username"
             type="text"
             class="form-control"
             placeholder="alice">
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="text"
             class="form-control"
             placeholder="alice.wonderland@unicorn.com">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)]="user.firstName"
             name="firstName"
             type="text"
             class="form-control"
             placeholder="Alice">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="user.lastName"
             name="lastName"
             type="text"
             class="form-control"
             placeholder="Wonderland">
    </div>
  </form>

  <a class="btn btn-primary btn-block"
     routerLink="/user/{{user._id}}/website">
    Websites
  </a>

  <a class="btn btn-danger btn-block "
     routerLink="/login" >
    Logout
  </a>

</div>

<!--Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/profile">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>


