<div class="container">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    'Invalid username or password!!'
  </div>

  <h1>Login</h1>

  <input [(ngModel)]="username"
         name="username"
         placeholder="username"
         type="text"
         class="form-control"/>

  <input [(ngModel)]="password"
         placeholder="password"
         name="password"
         type="password"
         class="form-control"/>

  <button (click)="login()"
          class="btn btn-block btn-primary">
    Login
  </button>

  <a href="{{base_url}}/facebook/login"
     class="btn btn-primary btn-block">
    <span class="fa fa-facebook"></span>
    Facebook
  </a>


  <button routerLink="/register"
          class="btn btn-success btn-block"
          type="submit">
    Register
  </button>


</div>
