<div class="container">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>

  <form (ngSubmit) = "login()" #f="ngForm">

    <input   placeholder="username"
             name="username"
             type="text"
             class="form-control"
             ngModel
             required
             #username="ngModel"/>
    <span class="help-block"
          *ngIf="!username.valid && username.touched">
      Please enter username!
   </span>

    <input  placeholder="password"
            type="password"
            name="password"
            class="form-control"
            ngModel
            required
            #password="ngModel"/>
    <span class="help-block"
          *ngIf="!username.valid && username.touched">
      Please enter Password!
   </span>

    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid">
      Login
    </button>
    <button routerLink="/register"
            class="btn btn-success btn-block"
            type="submit">
      Register
    </button>
  </form>

</div>
