
<nav class="navbar rk-navbar navbar-fixed-top">
  <div class="container-fluid">

    <!--adding the back glyphicon-->
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widget Edit</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a class="navbar-link"
         (click)="updateImage()">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container container-fluid">

  <label>Name</label>
  <input type="text"
         class="form-control"
         placeholder="Image Name">


  <label>Text</label>
  <input type="text"
         class="form-control"
         placeholder="text">

  <div *ngIf="errorFlag1"
       class="alert alert-danger">
    <b>Enter an image url to create or delete widget image</b>
  </div>
  <label for="url">URL</label>
  <input [(ngModel)]="widget.url"
         name="url"
         id="url"
         type="url"
         class="form-control"
         placeholder="Image URL">

  <div *ngIf="errorFlag2"
       class="alert alert-danger">
    <b>Enter an image width to create or delete widget image</b>
  </div>
  <label for="width">Width</label>
  <input [(ngModel)]="widget.width"
         name="width"
         id="width"
         type="text"
         class="form-control"
         placeholder="Width">

  <form ngNoForm
        action="{{baseUrl}}/api/upload"
        method="post"
        enctype="multipart/form-data">
    <input name="myFile"
           type="file"
           class="form-control"/>
    <input name="widgetId"
           value="{{widgetId}}"
           style="display: none"/>
    <input name="websiteId"
           value="{{websiteId}}"
           style="display: none"/>
    <input name="pageId"
           value="{{pageId}}"
           style="display: none"/>
    <input name="userId"
           value="{{userId}}"
           style="display: none"/>
    <button type="submit"
            class="btn btn-block btn-primary">
      Upload Image
    </button>
    <br/>
  </form>

  <a class="btn btn-block btn-success"
     [routerLink]="['/user/',userId,'website',websiteId,'page',pageId,'widget','new','image','flickr']">
    Search Flickr
  </a>

  <a class="btn btn-danger btn-block"
     (click)="deleteImage()">Delete</a>

</div>

<!-- Footer -->
<nav class="navbar rk-navbar navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>


