
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--adding the back glyphicon-->
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Websites</b>
      </a>
    </p>

    <!--add mark-->
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}/website/new"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">

  <ul class="list-group">

    <li class="list-group-item active">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          Website Name
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          Created
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">
          Owner
        </div>
        <div class="col-xs-3">
        </div>
      </div>
    </li>

    <div *ngFor="let website of websites">
      <li class="list-group-item">

        <a routerLink="/user/{{userId}}/website/{{website._id}}/page">
          {{website.name}}
        </a>

        <a class="pull-right"
           routerLink="/user/{{userId}}/website/{{website._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>

      </li>
    </div>

  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
