<div class="container-fluid">

  <h1>Register</h1>

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    The passwords do not match!!
  </div>

  <input [(ngModel)]="username"
         placeholder="username"
         name="username"
         type="text"
         class="form-control"/>

  <input [(ngModel)]="password"
         placeholder="password"
         name="password"
         type="password"
         class="form-control"/>

  <input [(ngModel)]="verify_password"
         placeholder="verify_password"
         name="verify_password"
         type="password"
         class="form-control"/>

  <button (click)="register()"
          class="btn btn-block btn-primary">
    Register
  </button>

  <a routerLink="/login" button
     class="btn btn-danger btn-block">
    Cancel
  </a>

</div>




