<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">

  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>Widget List</title>

  <link rel="stylesheet"
        href="../../css/styles.css"/>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--adding the back glyphicon-->
    <p class="navbar-text pull-left">
      <a href="../page/page-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widgets</b>
      </a>
    </p>

    <!--add mark-->
    <p class="navbar-text pull-right">
      <a href="widget-chooser.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

  <div class="container-fluid">
    <div class="rk-widget">
      <div class="rk-toolbar">
        <a href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h1>Gizmodo</h1>
    </div>
    <div class="rk-widget">
      <div class="rk-toolbar">
        <a href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h2>US Senate Reaches Compromise on Emergency Zika Funding</h2>
    </div>
    <div class="rk-widget">
      <div class="rk-toolbar">
        <a href="widget-image.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <img class="rk-content"
           height="400"
           src="https://phil.cdc.gov/PHIL_Images/9177/9177_lores.jpg" />
    </div>
    <div class="rk-widget">
      <div class="rk-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <p>How the administration’s Zika offensive should be funded,
        and by how much, has broken down mostly along party lines.
        Generally speaking, Senate Democrats have supported separate,
        emergency funding for the virus, while Republicans have not.
        Some congressional GOP leaders insist on considering the money
        as part of the ongoing 2017 appropriations process, which would mean
        taking funds away from other parts of the budget to pay for Zika.
        In that case, funding would also not be available until October
        when the new fiscal year begins, months after Congress first
        received a funding request from the White House.</p>
    </div>
    <div class="rk-widget">
      <div class="rk-toolbar">
        <a href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h2>Man in a Wingsuit Flies Straight Through a Ring of Fire</h2>
    </div>
    <div class="rk-widget">
      <div class="rk-toolbar">
        <a href="widget-youtube.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <iframe width="100%"
              height="315"
              src="https://www.youtube.com/embed/uLWLashCXHE"
              frameborder="0"
              allowfullscreen></iframe>
    </div>
    <div class="rk-widget">
      <div class="rk-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <p>Human flight artist Uli Emanuele has brought to life another
        one of his sensational dreams, to fly through a ring of fire.
        With the help of some friends they cart the heavy metal
        contraption high into the Italian Alps.  With a little
        improvisation the support crew get everything ready just as
        the wind slows allowing Uli to soar through the flaming circle. </p>
    </div>
  </div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a href="">
        <span class="glyphicon glyphicon-play"></span>
      </a>
    </p>
    <p class="navbar-text pull-left">
      <a href="">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
