<h1>Exercise Database API Test</h1>

<label>Exercise</label>
<input [(ngModel)]="exercise"
       placeholder="bench press"
       class="form-control"/>

<button (click)="searchExercise(exercise)"
        class="btn btn-primary btn-block">
  Search
</button>

<!--<ul class="list-group">-->
  <!--<li class="list-group-item"-->
      <!--*ngFor="let food of result">-->
    <!--<h4>{{food.fields.item_name}}</h4>-->
    <!--Calories : {{food.fields.nf_calories}} <br>-->
    <!--Serving Size: {{food.fields.nf_serving_size_qty}}-->
  <!--</li>-->
<!--</ul>-->
